*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tasks{
    /* width: 90%; */
    box-sizing: border-box;
    margin: 30px;
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.oneTask{
    color: rgb(206, 195, 195);
    margin: 20px;
    padding: 10px;
    /* border: solid 1px red; */
    border-radius: 10px;
    box-shadow: -2px 0px 0px rgb(132, 178, 247);
    width: 40%;
}
.oneTask:hover{
    box-shadow: 0 0 20px #0ef;
}
.btns{
    display: flex;
    justify-content: end;
    align-items: center;
}
.btns > button{
    padding: 4px 7px;
    margin-right: 10px;
    border: none;
    border-radius: 6px ;
}
.filterTask{
    margin: 0px 100px;
    padding: 5px 30px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.filterTask > .searchTask{
    width: 300px;
    height: 30px;
    margin-right: 20px;
    padding: 5px 20px;
    border: none;
    border-radius: 6px;
    outline: none;
}
.filterTask > .searchTask:hover{
    box-shadow: 0 0 10px rgb(65, 142, 231), 0 0 20px rgb(65, 142, 231);
}
.filterTask > .searchTask:focus{
    box-shadow: 0 0 10px rgb(65, 142, 231), 0 0 20px rgb(65, 142, 231);
}
.filterTask > button{
    width: auto;
    padding: 6px;
    border-radius: 6px;
    border: none;
    font-weight: 600;
    
}